.vscode/
*.aux
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.nlo
*.out
*.synctex.gz
*.toc
*.env
Documentacion/Informe1/img/.$TS-SI.drawio.dtmp
Documentacion/Informe1/img/.$TS-SI.drawio.bkp
Codigos/RAS/creds.json
Codigos/RAS/tempCodeRunnerFile.*
Codigos/RAS/env
Codigos/Dashboard-CIMUBB/env
Codigos/Dashboard-CIMUBB/app/__pycache__/
