.vscode/
*.aux
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.nlo
*.out
*.synctex.gz
*.toc
Informes/Informe1/img/.$TS-SI.drawio.dtmp
Informes/Informe1/img/.$TS-SI.drawio.bkp
Codigo/fotoUsuario.jpg
Codigo/creds.json
Codigo/tempCodeRunnerFile.*