<footer>
    <div class="footer-container">
        <div class="footer-logo">
            <img src="/static/images/logo-footer.png" alt="Logo Institucional" />
        </div>
        <div class="footer-info">
            <p>
                <strong>Concepción:</strong> Avda. Collao N° 1202, Casilla 5-C ·
                C.P: 4081112 · Fono: 56 (41) 311 1308
            </p>
        </div>
        <div class="footer-email">
            <p><strong>Email:</strong> lvera@ubiobio.cl</p>
        </div>
    </div>
</footer>